body{
    margin: 0px;
    padding: 0px;
    font-family: "Calibri", sans-serif;
}

.nav-desktop {
    margin: 0px;
    padding: 0px;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    z-index: 1;
}


.logo {
    width: 25%;
    height: 125px;
    float: left;
    background-color: #345349;
    opacity: 1;
    text-align: center;
    padding-bottom: 5px;
}

nav div img {
    height: 100%;
}

.nav-main{
    width: 50%;
    float: left;
}

.top-nav {
    width: 100%;
    height: 80px;
    list-style-type: none;
    float: left;
    text-align: center;
    padding: 0px;
    margin: 0px;
    background-color: #345349;
    opacity: 1;

}

nav ul {
    margin: 0px;
}

nav ul li {
    float: left;
    width: calc(100% / 2);
}

nav ul li a {
    display: block;
    color: #EDF5E1;
    text-align: center;
    padding: 12px 25px;
    text-decoration: none;
    font-size: 35px;
    height: 40px;
}

nav ul li a:hover:not(.active){
    transition: 0.4s;
    text-decoration: underline;
}

.active {
    text-decoration:underline;
}

.under-nav{
    text-align: center;
    background-color: #345349;
    float: left;
    width: 100%;
    height: 50px;
}


.textsize-dropdown{
    position: relative;
    display: inline-block;
}

.textsize-dropdown button{
    background-color: #345349;
    border: none;
    color: #EDF5E1;
    font-size: 25px;
    font-weight: none;
}

.textsize-dropdown-textsizes{
    display: none;
    position: absolute;
    background-color: #D7E7E7;
    z-index: 1;
    width: 100%;
    border: 2px solid #345349;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.textsize-dropdown-textsizes a{
    text-decoration: none;
    display: block;
    height: 40px;
    padding-top: 15px;
    color: #345349;
}

.textsize-dropdown:hover .textsize-dropdown-textsizes{
    display: block;
}


.textsize-small {
    font-size: 10px;
}

.textsize-medium {
}

.textsize-medium:active{
}

.textsize-large {
    font-size: 24px;
}



.language {
    width: 25%;
    float: left;
    background-color: #345349;
    height: 130px;
    text-align: center;
}

.language a{
    text-decoration: none;
}

.language img {
    height: 50px;
    width: 85px;
    margin: 0;
}

.language img:hover{
    opacity: 1;
}


.flag-uk {
    padding-top: 8px;
    padding-bottom: 8px;
    opacity: 1;
}

.flag-norway{
    padding-bottom: 8px;
    opacity: 0.4;
}

.nav-phone{
    display: none;
}
.logo-phone{
    display: none;
}

.nav-main-phone{
    display: none;
}

.language-phone{
    display: none;
}

.flag-uk-phone{
    display: none;    
}

.flag-norway-phone{
    display: none;
}

/* Navbar based on examples on https://www.w3schools.com/css/css_navbar.asp */







/* Home Page */

main {
    background-color: #EDF5E1;
    overflow: visible;
    width: 100%;
    float: left;
    
}

article {
    background: #D7E7E7;
    margin: 40px 10%;
    border-radius: 25px;
    padding: 10px 30px 25px 30px;
    text-align: center;
    line-height: 1.5;
}
/* text-align: justify;*/

/*NOG NAAR KIJKEN!!!
https://css-tricks.com/body-border-rounded-inside/*/

a {
    color: #345349;
}

article h1 {
    font-size: 55px;
    text-align: center;
    margin: 0;
    color: #345349;
}

article h2 {
    font-size: 25px;
    text-align: center;
    margin: 0;
    color: #345349; 
}

.mainpic{
    width: 85%;
    height: auto;
    padding-bottom: 35px;
}

.preview-element{
    width: 100%;
    margin-bottom: 50px;
}

.preview-element-last{
    width: 100%;
    margin: 0;
}

.preview-element-last h3{
    font-size: 25px;
    margin: 20px 0 0 0;
    color: #345349;
}

.preview-element h3{
    font-size: 25px;
    margin: 20px 0 0 0;
    color: #345349;
}

.preview-quote{
    width: 100%;
}

.preview-quote h4{
    font-style: italic;
    margin-top: 15px;
    font-weight: normal;
}

.intro{
    text-align: justify;
}

.intro p{
    padding-left: 5%;
    padding-right: 5%;
}

.problem{
    text-align: justify;
}

.problem p{
    padding-left: 5%;
    padding-right: 5%;
}

.solution{
    text-align: justify;
    overflow: hidden;
}

.solution p{
    padding-left: 5%;
    padding-right: 5%;
}

.survey{
    overflow: hidden;
}

.survey h2{
    float: left;    
}

.feedbackpic{
    width: 50%;
}



.lonelyimg{
    width: 70%;
    height: auto;
    margin-left: 15%;
}

.dogwalking{
    width: 60%;
    height: auto;
    margin-left: 5%;
    margin-bottom: 5%;
    float: right;
}

.discounts1{
    width: 50%;
    margin-bottom: 5%;
    float: left;
}

.discountsimg{
    width: 50%;
}

.maps-locations{
    width: 90%;
    height: 500px;
    border: none;
}

/* End homepage */




/* FAQ PAGE */

.title-page{
    background: #D7E7E7;
    border-radius: 25px;
    font-size: 60px;
    padding: 10px;
}

.faq-box{
    background: #D7E7E7;
    margin: 40px 10%;
    border-radius: 25px;
    overflow: auto;
}

.faq-question{
    min-height: 100px;
    border-bottom: 2px solid #345349;
    overflow: auto;
}

.faq-question-q{
    width: 15%;
    float: left;
}
.faq-question-q h2{
    color: #345349;
    font-size: 50px;
    margin: 15px 0;
    vertical-align: middle;
    text-align: center;
}
/* Vetical-align doesn't work because of fix height. Have to double check this.*/

.faq-question-text{
    width: 85%;
    float: left;
}

.faq-question-text h3{
    color: #345349;
    font-size: 30px;
    text-align: center;
    margin: 25px 0;
    vertical-align: middle;
    padding-left: 5px;
}
/* Vetical-align doesn't work because of fix height. Have to double check this.*/

.faq-answer{
    width: 100%;
    height: 100px;
}

.faq-answer-a{
    width: 15%;
    float:left;
}

.faq-answer-a h2{
    color: #345349;
    font-size: 50px;
    margin: 20px 0;
    vertical-align: middle;
    text-align: center;
}

.faq-answer-text{
    width: 85%;
    float: left;
}

.faq-answer-text h3{
    color: #345349;
    font-size: 20px;
    text-align: center;
    margin: 30px 0;
    vertical-align: middle;
}


.faq-contact{
    background: #D7E7E7;
    margin: 40px 10%;
    border-radius: 25px;
    overflow: auto;
    text-align: center;
}

.faq-contact h2{
    color: #345349;
    font-size: 40px;
    margin: 20px 0;
}

.faq-contact form {
    margin: 30px 0;
    width: 100%;
}

.faq-contact form p{
    color:#345349;
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 5px;
}

.faq-contact form input[type=text]{
    width: 40%;
    border: 1px solid #345349;
    border-radius: 3px;
}

.faq-contact form input[type=email]{
    width: 40%;
    border: 1px solid #345349;
    border-radius: 3px;
}

.faq-contact form textarea {
    width: 40%;
    border: 1px solid #345349;
    border-radius: 3px;
    height: 200px;
}

.faq-contact form input[type=submit]{
    background-color: #345349;
    width: 40%;
    color: #EDF5E1;
    padding: 10px;
    font-size: 25px;
    cursor: pointer;
}
/* More styling av the submitt button? */


.faq-contact form input[type=submit]:hover{
    opacity: 0.9;
}

::placeholder{
    text-align: center;
    color: #345349;
    padding: 0;
}

:-ms-input-placeholder{
    text-align: center;
    color: #345349;
    padding: 0;
}

::-webkit-input-placeholder{
    text-align: center;
    color: #345349;
    padding: 0;
}




.faq-contact form input[type=submit] :hover{
    background-color: black;
}

/* https://www.w3schools.com/css/css_form.asp
is used as insperation */

/*Preview page*/

.article-box{
    background: #D7E7E7;
    margin: 40px 10%;
    border-radius: 25px;
    overflow: auto;
}

.column2 {
    float: left;
    width: 50%;
    height: 560px;
    overflow: hidden;
}
.column2 img {
    width: 50%;
}
.column2-img {
    text-align: center;
}
.column2-text h2 {
    text-align: center;
    margin-left: 10%;
    width: 80%;
}
.column2-text p {
    text-align: center;
    margin-left: 10%;
    margin-top: 0;
    margin-bottom: 5%;
    width: 80%;
}



/* footer */

footer {
    padding: 0px;
    margin-left: 0;
    width: 100%;
}

.footer-slogan{
    height: auto;
    background-color: #345349;
    width: 100%;
    float: left;
    color: #EDF5E1;
    text-align: center;
    border-bottom: 1px solid #EDF5E1;
}

.footer-slogan h2{
    font-size: 35px;
    margin: 15px 0;
}


.footer-logo{
    height: 200px;
    background-color: #345349;
    width: 50%;
    float: left;
    color: #EDF5E1;
    text-align: center;
    border-bottom: 1px solid #EDF5E1;

}

.footer-logo img{
    height: 200px;
}

.footer-sitemap{
    height: calc(200px - 50px);
    background-color: #345349;
    width: calc(50% - 50px);
    float: left;
    color: #EDF5E1;
    text-align: center;
    border-bottom: 1px solid #EDF5E1;
    padding: 25px;
}

.footer-sitemap h2 a{
    color: #EDF5E1;
    font-size: 40px;
    text-decoration: none;
}


.footer-contact{
    height: calc(200px - 30px);
    padding-top: 30px;
    background-color: #345349;
    color: #EDF5E1;
    width: calc(100% /2);
    float: left;
    text-align: center;
}

.footer-contact h2{
    margin: 0;
}

.footer-contact p {
    text-decoration: underline;
   
}

.footer-download{
    height: calc(200px - 30px);
    padding-top: 30px;
    background-color: #345349;
    color: #EDF5E1;
    width: calc(100% /2);
    float: left;
    text-align: center;
}

.footer-download h2{
    margin: 0;
}













/* Phone version */

@media screen and (max-width: 650px){
    .nav-desktop{
        display: none;
    }
    .logo{
        display: none;
    }
    .nav-main{
        display: none;
    }
    .under-nav{
        display: none;
    }
    .language{
        display: none;
    }
    .nav-phone{
        margin: 0px;
        padding: 0px;
        position: fixed;
        top: 0px;
        z-index: 1;
        width: 100%;
        display: block;
    }
    
    .logo-phone{
        width: calc(100% / 3);
        height: 85px;
        background-color: #345349;
        float: left;
        text-align: center;
        display: block;
    }
    
    .logo-phone a img{
        height: 90%;
        width: auto;
    }
    
    .nav-main-phone{
        width: calc(100% / 3);
        float: left;
        height: 85px;
        float: left;
        background-color: #345349;
        text-align: center;
        display: block;
    }
    
    .nav-main-phone img{
        height: 100%;
        width: auto;
        color: #EDF5E1;
    }
    
    .language-phone{
        height: 85px;
        width: calc(100% / 3);
        float: left;
        background-color: #345349;
        text-align: center;
        display: block;
    }
    
    .language-phone a{
        text-decoration: none;
    }
    
    .flag-uk-phone{
        height: 30px;
        width: 50px;
        padding: 7px;
        display: inline;
    }
    
    .flag-norway-phone{
        height: 30px;
        width: 50px;
        display: inline;
    }
    
    
    
    
    
    
    /*Main */
    
    main{
        margin-top: 85px;
    }

    article{
    margin: 30px 4%;
    border-radius: 25px;
    padding: 0px 15px 15px 15px;
    text-align: center;
    line-height: 1.5;
    }
    

    
    
    
    /* Footer */
    
    .footer-slogan h2{
        font-size: 30px;
    }
    
    .footer-logo{
        height: 120px;
    }
    
    .footer-sitemap{
        height: calc(120px - 20px);
        width: calc(50% - 20px);
        padding: 10px
    }
    
    .footer-sitemap h2{
        margin: 15px 0;
    }
    .footer-sitemap h2 a{
        font-size: 25px;
    }
    .footer-logo img{
        height: 100%;
        width: auto;
    }
    
    .footer-contact{
        padding-top: 15px;
    }
    
    .footer-contact h2{
        font-size: 25px
    }
    
    .footer-download{
        padding-top: 15px;
    }
    
    .footer-download h2 {
        font-size: 25px;
        
    }
    
}





