body{
    margin: 0px;
    padding: 0px;
}

nav {
    margin: 0px;
    padding: 0px;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    z-index: 1;
}


nav div {
    width: 20%;
    height: 118px;
    float: left;
    background-color: #345349;
    opacity: 1;
    text-align: center;
    padding-bottom: 5px;
}

nav div img {
    height: 145px;
    margin-top: -10px;
}

.top-nav {
    list-style-type: none;
    float: left;
    text-align: center;
    width: calc(80%);
    padding: 0px;
    margin: 0px;
    background-color: #345349;
    opacity: 1;

}

nav ul {
    margin: 0px;
}

nav ul li {
    float: left;
    width: calc(100% / 3);
}

nav ul li a {
    display: block;
    color: #EDF5E1;
    text-align: center;
    padding: 12px 25px;
    text-decoration: none;
    font-size: 30px;
    height: 50px;
}

nav ul li a:hover:not(.active){
    transition: 0.4s;
    text-decoration: underline;
}

.active {
    text-decoration: underline;
}

.under-nav{
    list-style-type: none;
    display: block;
    text-align: center;
    width: calc(80%);   
    padding: 0px;
    overflow: hidden;
    background-color: #345349;
    position: sticky;
    position: -webkit-sticky;
    opacity: 1;
}

.under-nav li {
    width: 50%;
}

.under-nav li a{
    color: #EDF5E1;
    height: 25px;
}

.change-website{
    font-size: 20px;
}
/* Navbar based on examples on https://www.w3schools.com/css/css_navbar.asp */










main {
    background-color: #EDF5E1;
    margin: 0px;
    overflow: hidden;
}

article {
    background: #D7E7E7;
    margin: 40px 10%;
    border-radius: 25px;

}

/*NOG NAAR KIJKEN!!!
https://css-tricks.com/body-border-rounded-inside/*/


h1 {
    font-size: 30px;
    text-align: center;
    margin: 0;
    color: #345349;
}














footer {
    padding: 0px;
    margin-left: 0;
    width: 100%;
}

.footer-slogan{
    height: auto;
    background-color: #345349;
    width: 100%;
    float: left;
    color: #EDF5E1;
    text-align: center;
    border-bottom: 1px solid #EDF5E1;
}

.footer-slogan h2{
    font-size: 30px;
}


.footer-logo{
    height: 200px;
    background-color: #345349;
    width: 50%;
    float: left;
    color: #EDF5E1;
    text-align: center;
    border-bottom: 1px solid #EDF5E1;

}

.footer-logo img{
    height: 225px;
    margin-top: -10px;
}

.footer-sitemap{
    height: calc(200px);
    background-color: #345349;
    width: 50%;
    float: left;
    color: #EDF5E1;
    text-align: center;
    border-bottom: 1px solid #EDF5E1;

}

.footer-sitemap h2{
    margin-top: 25px;
}


.footer-contact{
    height: calc(200px - 30px);
    padding-top: 30px;
    background-color: #345349;
    color: #EDF5E1;
    width: calc(100% /2);
    float: left;
    text-align: center;
}

.footer-contact p {
    text-decoration: underline;
   
}

.footer-download{
    height: calc(200px - 30px);
    padding-top: 30px;
    background-color: #345349;
    color: #EDF5E1;
    width: calc(100% /2);
    float: left;
    text-align: center;
}


