body{
    margin: 0px;
    padding: 0px;
    font-family: "Calibri", sans-serif;
}


.nav-desktop {
    margin: 0px;
	width: 100%;
    padding: 0px;
    position: fixed;
    top: 0px;
    z-index: 1;
}


.logo {
    width: 25%;
    height: 125px;
    float: left;
    background-color: #345349;
    opacity: 1;
    text-align: center;
    padding-bottom: 5px;
}

nav div img {
    height: 100%;
}

.nav-main{
    width: 50%;
    float: left;
}

.top-nav {
    width: 100%;
    height: 70px;
    list-style-type: none;
    float: left;
    text-align: center;
    padding: 0px;
    margin: 0px;
    background-color: #345349;
    opacity: 1;
}



.top-nav-text {
	float: left;
    width: calc(50% - 50px);
    display: block;
    color: #EDF5E1;
    text-align: center;
    padding: 12px 25px;
    text-decoration: none;
    height: 40px;
}

.top-nav-text:hover:not(.active){
    transition: 0.4s;
    text-decoration: underline;
}

#active {
    text-decoration:underline;
}

.under-nav{
    text-align: center;
    background-color: #345349;
    float: left;
    width: 100%;
    height: 60px;
    color: #EDF5E1;
}

.textsize {
    margin: 0;
    padding: 0;
}
.textsize a {
    color: #EDF5E1;
    margin-left: 10px;
    text-decoration: none;
}
.textsize a:hover {
    text-decoration: underline;
}

.textsize-small {
    font-size: 35px;
}

.textsize-medium {
    font-size: 50px;
}

.text-small {
    font-size: 20px;
}
.text-small h1 {
    font-size: 55px;
}
.text-small h2, h3 {
    font-size: 25px;
}
.text-medium {
    font-size: 30px;
}
.text-medium h1 {
    font-size: 82.5px;
}
.text-medium h2, h3 {
    font-size: 37.5px;
}

.language {
    width: 25%;
    float: left;
    background-color: #345349;
    height: 130px;
    text-align: center;
}

.language a{
    text-decoration: none;
}

.language img {
    height: 50px;
    width: 85px;
    margin: 0;
}

.language img:hover{
    opacity: 1;
}

width-lang{
	width: 100%;
}


.flag-uk {
    padding-top: 8px;
    padding-bottom: 8px;
    opacity: 0.4;
}

.flag-norway{
    opacity: 0.4;
}

.nav-phone{
    display: none;
}
.logo-phone{
    display: none;
}

.nav-main-phone{
    display: none;
}

.language-phone{
    display: none;
}

.flag-uk-phone{
    display: none;  
    opacity: 0.4;
}

.flag-norway-phone{
    display: none;
    opacity: 0.4;
}


.show-menu {
    display: none;
}

.hidden {
    display: none;
}

/*Strip the ul of padding and list styling*/
.hidden ul {
    list-style-type:none;
    margin:0;
    padding:0;
    position: absolute;
    display: none;
}
.hidden ul li {
    width: 100%;
    display: block;
    float: left;
    padding-top: 25px;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}
input[type=checkbox]:checked ~ .hidden{
    display: block;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.lang-active img{
    opacity: 1;
}

/* Navbar based on examples on https://www.w3schools.com/css/css_navbar.asp */







/* Home Page */

main {
    background-color: #EDF5E1;
    overflow: visible;
    width: 100%;
	padding-top: 125px;
	padding-bottom: 1px;
}

article {
    background: #D7E7E7;
    margin: 40px 10%;
    border-radius: 25px;
    padding: 10px 30px 25px 30px;
    text-align: justify;
    line-height: 1;
	overflow: auto;
}

a {
    color: #345349;
}

article h1 {
    font-size: 55px;
    text-align: center;
    margin: 10px;
    color: #345349;
}

article h2 {
    font-size: 25px;
    text-align: center;
    margin: 10px;
    color: #345349; 
}

.mainpic{
    width: 100%;
    height: auto;
}

.survey{
    overflow: hidden;
}

.survey h2{
    float: left;    
}

.feedbackpic{
    width: 100%;
	height: auto;
    margin: 0;
}


.lonelyimg{
    width: 100%;
    height: auto;
}

.dogwalking{
    width: 100%;
    height: auto;
}

.discounts1{
    width: 50%;
    margin-bottom: 5%;
    float: left;
}

.discountsimg{
    width: 50%;
}

.maps-locations{
    width: 100%;
    height: 500px;
    border: none;
}

.image-referal{
    text-align: left;
    font-size: 11px;
    margin: 0;
    color: #345349;
	font-weight: bold;
	font-style: italic;
    line-height: 1;
}

.skip-tab-box-locations{
	height: 0;
	position: relative;
	background-color: #EDF5E1;
	text-align: center;
}


.skip-tab-location{
	z-index: -1;
	left: -220px;
	position: absolute;
	text-decoration: none;
}

.skip-tab-location table{
	width: 100%;
}

.skip-tab-location td{
	text-align: center;
	width: 50%;
}

.skip-tab-location:focus {
	left: 0px;
	width: 100%;
	position: absolute;
	z-index: 1;
	background-color: #345349;
	color: #EDF5E1;
	margin: 0;
	text-align: center;
}




/* End homepage */




/* FAQ PAGE */

.skip-tab-box{
	height: 0;
	position: relative;
	background-color: #EDF5E1;
	width: 100%;
}


.skip-tab{
	z-index: -1;
	top: -220px;
	position: absolute;
	text-decoration: none;
}

.skip-tab:focus {
	top: 0px;
	margin-left: 10%;
	position: absolute;
	z-index: 1;
	background-color: #345349;
	color: #EDF5E1;
	font-size: 30px;
	margin: 0;
	width: calc(100% - 20px);
	text-align: center;
	padding: 10px;
}

.skip-tab:focus .skip-tab-box {
	height: auto;
	margin: 0 10%;
	position: relative;
	text-align: left;
	background-color: #EDF5E1;
}

.faq-box{
    background: #D7E7E7;
    margin: 40px 10%;
    border-radius: 25px;
    overflow: auto;
}

.faq-question{
    min-height: 100px;
    border-bottom: 2px solid #345349;
    overflow: auto;
}

.faq-question-q{
    width: 15%;
    float: left;
}
.faq-question-q h2{
    color: #345349;
    font-size: 50px;
    margin: 15px 0;
    vertical-align: middle;
    text-align: center;
}
/* Vetical-align doesn't work because of fix height. Have to double check this.*/

.faq-question-text{
    width: 85%;
    float: left;
}

.faq-question-text h3{
    color: #345349;
    font-size: 30px;
    text-align: center;
    margin: 25px 0;
    vertical-align: middle;
    padding-left: 5px;
}
/* Vetical-align doesn't work because of fix height. Have to double check this.*/

.faq-answer{
    width: 100%;
    height: 100px;
}

.faq-answer-a{
    width: 15%;
    float:left;
}

.faq-answer-a h2{
    color: #345349;
    font-size: 50px;
    margin: 20px 0;
    vertical-align: middle;
    text-align: center;
}

.faq-answer-text{
    width: 85%;
    float: left;
}

.faq-answer-text h3{
    color: #345349;
    text-align: center;
    margin: 30px 0;
    vertical-align: middle;
}

.faq-contact-p {
    color: #345349;
    text-align: center;
}



/*Preview part*/
/*
Sources:
phone mockups:
http://emske.com/samsung-galaxy-s6-psd-mock-up/

icons:
https://www.flaticon.com/authors/freepik
https://www.flaticon.com/authors/smashicons

dogs:
https://unsplash.com/s/photos/dog
*/


.row {
    display: flex;
	margin-bottom: 20px;
}

.column2 {
    flex: 1;
    float: left;
    width: 50%;
}
.column2 img {
    width: 50%;
}
.column2-img {
    text-align: center;
}
.column2-text h2 {
    text-align: center;
    margin-left: 10%;
    width: 80%;
}
.column2-text p {
    text-align: center;
    margin-left: 10%;
    margin-top: 0;
    width: 80%;
}



/* footer */

footer {
    padding: 0px;
    margin-left: 0;
    width: 100%;
}

.footer-slogan{
    height: auto;
    background-color: #345349;
    width: 100%;
    float: left;
    color: #EDF5E1;
    text-align: center;
    border-bottom: 1px solid #EDF5E1;
}

.footer-slogan h2{
    margin: 15px 0;
}


.footer-logo{
    height: 200px;
    background-color: #345349;
    width: 50%;
    float: left;
    color: #EDF5E1;
    text-align: center;
    border-bottom: 1px solid #EDF5E1;

}

.footer-logo img{
    height: 200px;
}

.footer-sitemap{
    height: calc(200px - 50px);
    background-color: #345349;
    width: calc(50% - 50px);
    float: left;
    color: #EDF5E1;
    text-align: center;
    border-bottom: 1px solid #EDF5E1;
    padding: 25px;
}

.footer-sitemap h2 {
    margin: 10px;
}

.footer-sitemap h2 a{
    color: #EDF5E1;
    text-decoration: none;
}


.footer-contact{
    height: calc(200px - 30px);
    padding-top: 30px;
    background-color: #345349;
    color: #EDF5E1;
    width: calc(100% /2);
    float: left;
    text-align: center;
}

.footer-contact h2{
    margin: 0;
}

.footer-contact p {
    text-decoration: underline;
    margin: 10px;
}

.footer-contact a {
    color: #EDF5E1;
}

.footer-download{
    height: calc(200px - 30px);
    padding-top: 30px;
    background-color: #345349;
    color: #EDF5E1;
    width: calc(100% /2);
    float: left;
    text-align: center;
}

.footer-download h2{
    margin: 0;
}

.footer-download img {
    margin: 10px;
    width: 50px;
}













/* Phone version */

@media screen and (max-width: 650px){
    .nav-desktop{
        display: none;
    }
    .logo{
        display: none;
    }
    .nav-main{
        display: none;
    }
    .under-nav{
        display: none;
    }
    .language{
        display: none;
    }
    .nav-phone{
        margin: 0px;
        padding: 0px;
        position: fixed;
        top: 0px;
        z-index: 1;
        width: 100%;
        display: block;
    }
    
    .logo-phone{
        width: calc(100% / 3);
        height: 85px;
        background-color: #345349;
        float: left;
        text-align: center;
        display: block;
    }
    
    .logo-phone a img{
        height: 90%;
        width: auto;
    }
    
    .nav-main-phone{
        width: calc(100% / 3);
        height: 85px;
        float: left;
        background-color: #345349;
        text-align: center;
        display: block;
    }

    .show-menu {
        display: block;
        height: 100%;
    }
    
    .show-menu img{
        height: 85px;
		width: auto;
        color: #EDF5E1;
    }

    .hidden {
        height: 190px;
        width: 100%;
        background-color: #345349;
        border: solid black;
        border-top: none;
    }

    .hidden a {
        color: #EDF5E1;
		font-size: 35px;
        text-decoration: none;
    }

    .phone-textsize span{
        color: #EDF5E1;
		font-size: 35px;
        text-decoration: none;
    }
    
    .language-phone{
        height: 85px;
        width: calc(100% / 3);
        float: left;
        background-color: #345349;
        text-align: center;
        display: block;
    }
    
    .language-phone a{
        text-decoration: none;
    }
    
    .flag-uk-phone{
        height: 30px;
        width: 50px;
        padding: 7px;
        display: inline;
    }
    
    .flag-norway-phone{
        height: 30px;
        width: 50px;
        display: inline;
    }
    
    
    
    
    
    
    /*Main */
    
    main{
        margin-top: 0px;
		padding-top: 85px;
    }

    article{
    margin: 30px 4%;
    border-radius: 25px;
    padding: 0px 15px 15px 15px;
    text-align: center;
    line-height: 1.5;
    }
    
    .article-box{
    margin: 30px 4%;
    border-radius: 25px;
    padding: 0px 15px 15px 15px;
    text-align: center;
    line-height: 1.5;
    }
    
    /* Footer */
    
    .footer-slogan h2{
        font-size: 30px;
    }
    
    .footer-logo{
        height: 170px;
    }
    
    .footer-sitemap{
        height: calc(170px - 20px);
        width: calc(50% - 20px);
        padding: 10px
    }
    
    .footer-sitemap h2{
        margin: 15px 0;
    }
    .footer-sitemap h2 a{
        font-size: 25px;
    }
    .footer-logo img{
        height: 100%;
        width: auto;
    }
    
    .footer-contact{
        padding-top: 15px;
    }
    
    .footer-contact h2{
        font-size: 25px
    }
    
    .footer-download{
        padding-top: 15px;
    }
    
    .footer-download h2 {
        font-size: 25px;
        
    }
    
}


@media screen and (max-width: 1100px){
    .row {
        display: block;
    }
    .column2 {
        width: 100%;
    }

}




